@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0 auto;
    background-color: #04000B;
    font-family: "Montserrat", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
header {
    width: 100%;
    height: 17%;
    display: flex;
    background-color: #04000B;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    animation: aparecer 1s ease-in-out;
}
header:hover {
    cursor: pointer;
}
@keyframes aparecer {
    0%{opacity: 0; transform: translateY(-200px);}
    100%{opacity: 100%; transform: translateY(0);}
}
h2 {
    font-size: 30px;
}
h2 span {
    color: #604299;
}
ul {
    display: flex;
    position: relative;
    left: 20px;
}
li {
    margin-right: 70px;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
}
li:hover {
    color: #604299;
    transition: 0.5s;
}
.botao-login {
    width: 120px;
    height: 50px;
    background-color: transparent;
    color: #604299;
    font-size: 18px;
    border: 2px solid #604299;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
}
.botao-login:hover {
    background-color: #604299;
    cursor: pointer;
    color: white;
    transition: 0.6s
}
@keyframes aparecer_home{
    0%{opacity: 0; transform: translateX(-100px);}
    100%{opacity: 100%; transform: translateX(0);}
}
.content {
    padding: 20px;
    margin-top: 7.5%;
}
.imagem-home {
    animation: aparecer_home 1s ease-in-out;
}
